* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: calc(100vh - 56px);
	/* Altura total da tela menos o tamanho da navbar */
	width: 100%;
}

/* Estilos adicionais para melhorar o layout */
.container {
	padding: 0;
}
